body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
}


.list-group {
    height: 700px;
    width: 600px;
    display: flex;
    justify-content: center;
}

.list-group-title {
    font-size: 30px;
    background-color: rgba(82, 73, 73, 0.396);
    text-transform: uppercase;
    list-style: none;
    color: white;
    border-radius: 5px;

}

.list-group-count {
    display: flex;
    justify-content: right;
    font-size: 15px;
    background-color: rgba(82, 73, 73, 0.396);
    list-style: none;
    color: white;
    padding-right: 12px;
    border-radius: 5px;

}

input {
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.649);
    padding-left: 12px;
    border-radius: 5px;

}


.list-group-item {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.396);
    border-radius: 5px;
}

.list-group-item:hover {
    background-color: rgba(249, 127, 66, 0.579);
}

.btn {
    background-color: rgba(0, 0, 0, 0.486);
    border: none;
}

.btn:hover {
    background-color: rgba(232, 0, 0, 0.733);
    border: none;
}